.header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  border:1px solid black;
  height: 70px;;
}
.logo{
  height:70px;
  width: 100px;;
  object-fit:contain;
  display: block;
}
.nav-items > ul {
  display:flex;  
  list-style-type:none; 
  font-size: 22px;
}
.nav-items>ul>li{
  
  padding:10px;
  margin:10px
}
.res-container{
  display:flex;
  flex-wrap:wrap;
  background-color:#FF9B00
}
.res-card{
  border:1px solid black;
  margin:10px;
  padding:10px;
  width:200px;
  height:300px;
}
.res-card:hover{
  cursor :pointer;
  box-shadow: 5px 5px 5px 5px grey;
}
.filter-btn{
  cursor:pointer;  
  margin:10px; 
}
.res-logo{
  height:140px;
  width:200px;
  object-fit:cover;
  
}

  